@import '../partials.scss';
@import '../mixin.scss';
@import '../mediabreaks.scss';

.search{
    width:$full;
    height:6rem;
    display:flex;
    align-items: $middle;
    &__bar{
        width:80%;
        @include flex-align;
        margin:0 auto;
        @include tablet{
            width:90%;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__movie{
        width:$full;
        @include flex-even;
        padding:1rem;
    }
}

.search__input{
    color:black;
    width:16rem;
    height:1.5rem;
    border-radius:1.5rem;
    outline:none;
    &::placeholder{
        font-family:$bold;
        font-size:1rem;
        color:black;
        padding-left:6rem;
    }
}

.poster{
    width:150px;
    height:200px;
}

.close{
    width:2rem;
    height:2rem;
    border:none;
}

.delete{
    width:7rem;
    color:black;
    font-family: $medium;
    border-radius:1.5rem;
    padding:0.25rem;
}

.title{
    font-family:$bold;
}

// .modal{
//     background-color:grey;
//     position: fixed;
// 	width: 50%;
//     height: 50%;
//     display:flex;
//     flex-direction: column;
//     align-items: center;
//     border-radius: 1rem;
//     z-index:5;
// }
.carousel-inner{
    display:flex;
}

.nominee{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding:1rem;
}
