@import '../partials.scss';
@import '../mixin.scss';
@import '../mediabreaks.scss';

.search{
    width:$full;
    height:6rem;
    display:flex;
    align-items: $middle;
    &__bar{
        width:80%;
        @include flex-align;
        margin:0 auto;
        @include tablet{
            width:90%;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__movie{
        width:$full;
        @include flex-even;
        padding:1rem;
    }
}

.search__input{
    color:black;
    width:16rem;
    height:1.5rem;
    border-radius:1.5rem;
    outline:none;
    &::placeholder{
        font-family:$bold;
        font-size:1rem;
        color:black;
        padding-left:6rem;
    }
}

.poster{
    width:150px;
    height:200px;
}

.close{
    width:2rem;
    height:2rem;
    border:none;
}

.delete{
    width:7rem;
    color:black;
    font-family: $medium;
    border-radius:1.5rem;
    padding:0.25rem;
}

.title{
    font-family:$bold;
}

.modal{
    position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    z-index:10;

    &__overlay{
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color: rgba(0, 0, 0, .7);
        z-index:10;
    }
}
.carousel-inner{
    display:flex;
}

.nomList{
    display:flex;
    flex-direction:column;
    @include desktop{
        flex-direction: row;
        justify-content: center;
    }
}
.nominee{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding:1rem;
}
