@import '../partials.scss';
@import '../mixin.scss';
@import '../mediabreaks.scss';

.result{
    @include flex-align;
        @include tablet{
            width: 90%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            }
            &-cell{
                @include flex-align;
                flex-basis: 10rem;
                padding:1rem;
                &__poster{
                    width:150px;
                    height:200px;
                }
                &__year{
                    color:white;
                }
                &__title{
                    font-size: 1rem;
                }
            }
}


.delete{
    width:7rem;
    color:black;
    font-family: $medium;
    background-color:lime;
    border-radius: 1.5rem;
    padding:0.25rem;
}