@import '../partials.scss';


.nomination{
    display:flex;
    justify-content: space-evenly;

    &-header{
        font-family:$bold;
        padding-left:1rem;
    }

    &-card{
        background-image: url(../assets/images/popcorn-backgroun.jpg);
        background-size:cover;
        width:14rem;
        height:19rem;
        border-radius: 2rem;
        padding:0.5rem;
        display:flex;
        flex-direction: column;
    }

    &-title{
        font-size:2.5rem;
        font-family:$bold;
        color:black;
        background:transparent;
    }

    &-date{
        font-size:2.5rem;
        font-family:$bold;
        color:black;
        background:transparent;
    }
}