@import '../partials.scss';

.year{
    color:white;
}

.poster{
    width:150px;
    height:200px;
}

.result-column{
    width:500px;
    padding:1rem;
    @include flex-align;
}

.delete{
    width:7rem;
    color:black;
    font-family: $medium;
    background-color:lime;
    border-radius: 1.5rem;
    padding:0.25rem;
}