@font-face {
	font-family: "oswald-light";
	src: url("./oswald-light.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "oswald-medium";
	src: url("./oswald-medium.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "oswald-regular";
	src: url("./oswald-regular.ttf") format("truetype");
	font-weight: normal;
}